<h1><%= markdown @topic.name %></h1>

<!-- Bloc uses 'if can? :update' here instead of ':edit',
     but I think it make more sense to use :edit.
-->
<% if can? :edit, @topic %>
  <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-default btn-xs' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= markdown @topic.description %></p>
    <%= render @posts %>
    <%= paginate @posts %>
  </div>
  <div class="col-md-4">
    <% if can? :create, Post %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-default btn-lg btn-block' %>
    <% end %>
    <% if can? :destroy, @topic %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-lg btn-block btn-danger', confirm: 'Are you sure you want to delete this topic?' %>
    <% end %>  
  </div>
</div>